.login {
    background: var(--app-dark-background-color) none repeat scroll 0% 0%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loginbox {
    background: var(--app-foreground-color);
    border-radius: 15px;
    padding: 50px;
    width: 400px;
    max-height: 100vh;
    overflow: auto;
}

.loginheadercontainer {
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 5px;
}

.loginheadertext {
    color: var(--app-header-color);
    font-size: 1.6rem;
    font-weight: 600;
    font-family: Georgia, serif;
    padding-top: 8px;
    user-select: none;
}

.loginerror {
    color: var(--app-error-color);
    font-size: 1.0rem;
}
